@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');

body {
    font-family: 'Kameron', sans-serif;
    color: #333 !important;
    background-color: #fccc6c;
}

a {
    text-decoration: none;
}

/* Main page ---------------------------------*/
.indexPage {
    background: url("../img/RM6.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    min-height: 100vh;
    margin-top: -18rem !important;
}

.logo {
    margin: 0 5px;
    width: 40vh;
}

#shop {
    display: flex;
    justify-content: flex-end;
    margin-top: 70vh;
    margin-left: 100vh;
    color: #fcbd4d;
}

#shop a {
    color: #be1f2c;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}

#shop a:hover {
    color: #495057;
}


.indexPage {
    background-color: #bf1f2d;

    background-position: center;
}

.shopBtn {
    background-color: #fcbd4d;
}

.indexBtn {
    color: #be1f2c;
}


/* Header ---------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.navBtn {
    text-transform: uppercase;
    font-weight: 600;
}

.logInBtn,
.logInBtn a,
.navBtn,
.logInBtn span {
    color: #bf1f2d !important;
}

a,
span {
    margin: 10px;
}

.cartBtn {
    background: #fdbc4d;
}

.cartBtn a {
    color: #be1f2c;
}

.btn-warning {
    background-color: #fcbd4d !important;
}

/* Product page ---------------------------------*/
#productPage {
    background: url("../img/") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    width: auto;
}

.innerProductPage {
    margin-top: 5em !important;
}

.logoContainer .logo {
    margin-top: 17rem;
}

.innerContactPage {
    margin: 4em 8em 0 8em;
}

/* Cart ---------------------------------*/

.cartPage {
    background: url("../img/") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    width: auto;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
}

.cart-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
}


/* Users ---------------------------------*/

.lists th {
    font-weight: bold !important;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #FAD69C;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 80%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;

}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #bf1f2d;
    margin-bottom: 20px;
    font-weight: 700;
}

.profile-head h6 {
    color: #bf1f2d;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}


.profile-head {
    margin-top: 20px;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    color: #333;
}

input[type=text],
input[type=password],
input[type=email],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid #333;
    outline: 0;
    border-radius: 6px;
    background-color: #FAD69C;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 16px 0px;
}

.d-flex {
    padding-top: 10px;
    align-items: center;
}

/* Footer ---------------------------------*/

.footer {
    background-color: #fdbc4d;
    color: #be1f2c;
    padding: 10px;
    margin-top: 10px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.footer-col h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-col a {
    color: #2b424c;
    text-decoration: none;
}

.footer-col a:hover {
    color: #be1f2c;
    text-decoration: underline;
}

.footer-col p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.required:before {
    content: " *";
    color: red;
    padding: 2px;
}

.form-group label {
    color: #bf1f2d;
}


/* Admin page ---------------------------------*/

.adminBtn {
    margin-top: 25em;
}

/* Contact page ---------------------------------*/

.contact-info {
    margin-top: 5em;
    margin: 10px 30px;
}

.contact-info h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #bf1f2d;
}

.contact-info p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.5;
    text-align: left;
}

.contact-form {
    margin-top: 5em;
    margin: 10px 30px;
}

.contact-form h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #bf1f2d;
}

.contact-form p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.5;
    text-align: left;
}

#department-selection {
    color: #be1f2c;
}

#department-selection option {
    color: #2b424c;
}

#department-selection option:hover {
    color: #be1f2c;
}

#department-selection option:selected {
    color: #0062cc;
}

.elem-group {
    margin: 10px;
}

label {
    display: block;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #2b424c;
    margin-bottom: 10px;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #333;
    outline: 0;
    border-radius: 6px;
    background-color: #FAD69C;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 16px 0px;
}

textarea {
    height: 150px;
}

button {
    height: 50px;
    background: #bf1f2d;
    color: #fcbd4d;
    border: 2px solid #fcbd4d;
    font-size: 1.25em;
    font-family: 'Mukta', sans-serif;
    border-radius: 6px;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 8px;
}

button:hover {
    border: 2px solid #be1f2c;
}